@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

body {
    font-family: 'Cabin';
    background-color: #758190;
    margin-top: 60px;
}

#tentacles {
    width: 50px;
}

.header {
    display: flex;
    background-color: lightblue;
    padding: 1%;
    align-items: center;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
}

.stats-container {
    display: flex;
    align-items: flex;
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
}

.stats-card {
    background-color: #a8b0bc;
    border-radius: 7px;
    padding: 1%;
    margin: 1%;
    width: 100%;
    text-align: center;
}

#num-contributions, #total-raised, #num-games {
    font-size: 50px;
}

#games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.game-img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px #FFFFFF;
}

.game-card img {
    width: 300px;
    border-radius: 5px;
    box-shadow: 0 0 10px #FFFFFF;
}

.game-card {
    background-color: #FFFFFF;
    padding: 1%;
    margin: 1%;
    width: 300px;
    text-align: center;
    border-radius: 7px;
}

.game-card:hover {
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
}

#button-container {
    text-align: center;
}

button {
    font-family: 'Cabin';
    border: none;
    padding: 1%;
    margin: 1%;
    border-radius: 7px;
}

html {
    scroll-behavior: smooth;
}

.navbar {
    background-color: #E6BAAD;
    display: flex;          /* Use flexbox for alignment */
    align-items: center;    /* Vertically align items */
    padding: 10px 20px;     /* Add padding around the navbar */
    position: fixed;        /* Fix navbar to the top */
    top: 0;
    width: 100%;            /* Full width */
    z-index: 1000;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.navbar #search-bar {
    flex: 0 0 auto;         /* Prevent search bar from stretching */
    margin-right: 20px;     /* Space between search bar and list */
    padding: 8px 10px;      /* Add padding for the input */
    border: 1px solid #ccc; 
    border-radius: 20px;     
}

.navbar ul {
    list-style-type: none;  
    margin: 0;
    padding: 0;
    display: flex;          
    justify-content: flex-start; 
}

.navbar li {
    margin: 0 20px;         
}

.navbar a {
    text-decoration: none;  
    color: white;           
    padding: 10px 15px;     
    display: inline-block;
}

.navbar a:hover {
    background-color: #DA9986; /* Background on hover */
    color: white;
}

#the-start {
    padding-top: 80px; 
    margin-top: -60px; 
}

#welcome, #stats, #our-games {
    padding-top: 60px; 
    margin-top: -30px; 
}

button:hover {
    transform: scale(1.05); 
    box-shadow: 0 0 10px #ADE6BA, 0 0 20px #ADE6D7, 0 0 30px #BDE6AD;  
}